body{
    font-family: 'Roboto', sans-serif;
}

.front-page{
    .linku-logo {
        width: 100px;
    }
    
    .front-page-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 260px;
    }
    
    .joinnow, .signin {
        color: gray;
        font-size: 1.2rem;
        margin-left: 20px;
        text-decoration: none;
    }

    .signin {
        color: #0a66c2;
        border: 1px solid #0a66c2;
        border-radius: 24px;
        padding: 5px 20px;
    }
    
    .welcome-message {
        font-size: 3.3rem;
        color: #8f5849;
        font-weight: 200;   
        margin-bottom: 30px;
        margin-top: 15px;
    }
    
    .welcome-section {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
    }
    
    .welcome-section-left {
        padding-left: 220px;
    }
    
    .welcome-img {
        width: 650px;
        padding-right: 100px;
    }

    .join-section {
        background-image: url(https://static-exp3.licdn.com/sc/h/2vt8plqbv2l2pi6kxm89bqs59);
        height: 60vh;
        display: flex;
        justify-content: center;
    }

    .join-message {
        margin-top: 5vh;
        font-size: 3rem;
        font-weight: 300;
    }
}

.session-submit-btn {
    background-color: #0a66c2;
    color: white;
    font-size: 1.3rem;
    font-weight: 100;
    cursor: pointer;
    border-radius: 24px;
    height: 50px;
    width: 410px;
    border: none;
    margin-top: 20px;
}

.login-input {
    margin-top: 20px;
    height: 35px;
    width: 400px;
}

.login-form, .signup-form {
    display: flex;
    flex-direction: column;
    align-items: left;
}


