.profile-div{
    padding: 20px;
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;

    .user {
        display: flex;
        flex-direction: column;
    }

    .sub-section {
        background-color: white;
        width: 40vw;
        margin: 20px 0;
        border-radius: 10px;
        border: 1px solid lightgray;
        display: flex;
    }

    .background-img-div {
        display: flex;
    }

    .background-img {
        width: 40vw;
        height: 20vh;
    }

    .user-info {
        display: flex;
        flex-direction: column;
    }

    .education-div {
        display: flex;
        flex-direction: column;

        .create-btn {
            cursor: pointer;
        }

        header {
            margin-top: 10px;
            padding: 15px;
            padding-right: 25px;
            width: 40vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .education-index {
            padding-top: 15px;
            padding-left: 15px;
        }
    }
    .created-education-div {
        background-color: white;
        width: 38vw;
        display: flex;
        margin-bottom: 15px;

        .education-img {
            width: 65px;
            height: 65px;
            margin-right: 20px;
        }

        .edit-btn {
            margin-left: 10px;
            cursor: pointer;
        }

        .education-info {
            display: flex;
            width: 30vw;
            flex-direction: column;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
        }

        .school-info {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .degree-field-grade-info {
            display: flex;
            font-size: 0.8rem;
        }

        .activity-description-info {
            font-size: 0.8rem;
            color: gray;
        }

        .date-info {
            font-size: 0.8rem;
            color: gray;
        }

        p{
            margin-top: 3px;
        }
    }



    .experience-div {
        display: flex;
        flex-direction: column;

        .create-btn {
            cursor: pointer;
        }

        header {
            margin-top: 10px;
            padding: 15px;
            padding-right: 25px;
            width: 40vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .experience-index {
            padding-top: 15px;
            padding-left: 15px;
        }
    }

    .created-experience-div {
        background-color: white;
        width: 38vw;
        display: flex;
        margin-bottom: 15px;

        .experience-img {
            width: 65px;
            height: 65px;
            margin-right: 20px;
        }

        .edit-btn {
            margin-left: 10px;
            cursor: pointer;
        }

        .experience-info {
            display: flex;
            width: 30vw;
            flex-direction: column;
            padding-bottom: 10px;
            border-bottom: 1px solid lightgray;
        }

        .title-info {
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .company-employment-info {
            display: flex;
            font-size: 0.8rem;
        }

        .description-info {
            font-size: 0.8rem;
            color: gray;
        }

        .date-info, .location-info{
            font-size: 0.8rem;
            color: gray;
        }

        p{
            margin-top: 3px;
        }
    }

}
