.top-nav {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    .u-logo {
        width: 40px;
    }
    
    .right-nav {
        color: #63605f;
        font-size: 1.5rem;
        display: flex;
    }
    
    .right-nav p {
        font-size: 0.7rem;
    }
    
    .right-nav .icon {
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 20px;

        a{
            color: #63605f;
        }

        p{
            margin-top: 5px;
        }
    }
    
    .show-dropdown {
        display: block;
        position: absolute;
        top: 70px;
        background-color: white;
    }
    
    .hide-dropdown {
        display: none;
    }
    
    .nav-dropdown-btn {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        li {
            font-size: 1rem;
            font-weight: 100;
            margin: 10px;
        }
    }
    
    .view-profile-msg {
        color: #0a66c2;
        font-size: 0.9rem;
        font-weight: bold;
        border: 1px solid #0a66c2;
        border-radius: 20px;
        padding: 3px 20px;
    }

    .view-profile-div {
        cursor: pointer;
        margin: 7px 0px;
    }

    .logout-btn {
        cursor: pointer;
        font-size: 0.9rem;
    }

    .profile-pic-div {
        color: #63605f;
    }

    .profile-pic {
        border-radius: 50%;
        width: 20px;
    }
}

