.top-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.u-logo {
    width: 40px;
}

.right-nav {
    color: #63605f;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.right-nav p {
    font-size: 0.7rem;
}

.right-nav .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}